
app-sidebar {
  textarea {
    min-height: 500px;
  }
  img {
    max-width: 100%;
  }
}
.jumbotron {
  margin-top: 3rem;

}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}