app-sidebar {
  textarea {
    min-height: 290px;
  }
  img {
    max-width: 100%;
  }
}
.jumbotron {
  margin-top: 3rem;
  padding: 2rem 2rem;
  h1 {
    font-weight: bold;
  }
}
label {
  font-weight: bold;
  margin-bottom: 10px;
}
.nav-pills {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.tab {
  padding-top: 30px;
  h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
footer {
  background-color: #e9ecef;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-top: 50px;
  color: #000;
}

footer p {
  margin-bottom: .25rem;
}

.example-icon {
  width: 20px;
}