<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>GitHub profile readme generator - by @arturssmirnovs</title>
    <meta name="description" content="GitHub profile readme generator is a tool that allows you to create simple and beautiful readme that you can copy/paste and include in your profile repository as profile preview." />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@artuurssmirnovs" />
    <meta name="twitter:title" content="GitHub profile readme generator" />
    <meta name="twitter:description" content="GitHub profile readme generator is a tool that allows you to create simple and beautiful readme that you can copy/paste and include in your profile repository as profile preview." />
    <meta name="twitter:creator" content="@arturssmirnovs" />
    <meta name="twitter:image" content="https://arturssmirnovs.github.io/github-profile-readme-generator/images/banner.png" />

    <meta property="og:title" content="GitHub profile readme generator" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://arturssmirnovs.github.io/github-profile-readme-generator/" />
    <meta property="og:image" content="https://arturssmirnovs.github.io/github-profile-readme-generator/images/banner.png" />
    <meta property="og:description" content="GitHub profile readme generator is a tool that allows you to create simple and beautiful readme that you can copy/paste and include in your profile repository as profile preview." />
    <meta property="og:site_name" content="artuurs.smirnovs" />

    <link href="https://arturssmirnovs.github.io/github-profile-readme-generator/" rel="canonical" />
    <link rel="icon" type="image/png" href="images/icon.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vue-simple-markdown/dist/vue-simple-markdown.css"></link>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="app" class="container-xl">
        <app-nav>
            <div class="jumbotron">
                <h1 class="display-5 bold">GitHub profile readme generator</h1>
                <p class="lead">Super simple GitHub profile readme generator made with vue js, that allows you to create beautiful readme files that you can copy/paste in your profile.</p>
                <hr class="my-4">
                <p>What is GitHub profile readme? Check out repository to learn more.</p>
                <p class="lead mb-0">
                    <a class="btn btn-primary btn-lg" href="https://github.com/arturssmirnovs/github-profile-readme-generator" target="_blank" role="button">Learn more</a>
                </p>
            </div>
        </app-nav>

        <app-view class="row">

            <app-content class="col-xs-12 col-md-6">

                <nav class="nav nav-pills nav-justified">
                    <a class="nav-item nav-link" href="#" onclick="return false;" v-on:click="tab = 'header'" v-bind:class="[tab == 'header' ? 'active' : '', '']">Header</a>
                    <a class="nav-item nav-link" href="#" onclick="return false;" v-on:click="tab = 'additional'" v-bind:class="[tab == 'additional' ? 'active' : '', '']">Additional</a>
                    <a class="nav-item nav-link" href="#" onclick="return false;" v-on:click="tab = 'social'" v-bind:class="[tab == 'social' ? 'active' : '', '']">Social</a>
                    <a class="nav-item nav-link" href="#" onclick="return false;" v-on:click="tab = 'stats'" v-bind:class="[tab == 'stats' ? 'active' : '', '']">Others</a>
                </nav>

                <div v-if="tab == 'header'" class="tab">
                    <h3>Header</h3>

                    <custom-input v-model="data.title" title="Heading" placeholder="Enter heading.."></custom-input>

                    <custom-input v-model="data.subtitle" title="Subtitle" placeholder="Enter subtitle.."></custom-input>

                    <div class="form-group">
                        <label>About me</label>
                        <textarea v-model="data.text" placeholder="Enter text.." class="form-control">{{data.text}}</textarea>
                    </div>

                    <custom-input v-model="data.skills" title="Skills" placeholder="Enter skills.."></custom-input>

                    <custom-input v-model="data.banner" title="Banner URL" placeholder="Enter banner URL.."></custom-input>
                </div>

                <div v-if="tab == 'additional'" class="tab">
                    <h3>Additional information</h3>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.working" title="🔭 I’m currently working on.." placeholder="Enter details.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.learning" title="🌱 I’m currently learning.." placeholder="Enter details.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.collaborate" title="👯 I’m looking to collaborate on.." placeholder="Enter details.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.help" title="🤔 I’m looking for help with.." placeholder="Enter details.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.ask" title="💬 Ask me about.." placeholder="Enter details.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.reach" title="📫 How to reach me: " placeholder="Enter details.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.pronouns" title="😄 Pronouns: " placeholder="Enter details.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.fact" title="⚡ Fun fact: " placeholder="Enter details.."></custom-input>
                        </div>
                    </div>
                </div>

                <div v-if="tab == 'social'" class="tab">
                    <h3>Social information</h3>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.github" title="GitHub" placeholder="Enter username.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.dev" title="DEV.TO" placeholder="Enter username.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.linkedin" title="LinkedIn" placeholder="Enter username.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.facebook" title="Facebook" placeholder="Enter username.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.instagram" title="Instagram" placeholder="Enter username.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.twitter" title="Twitter" placeholder="Enter username.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.codepen" title="Codepen" placeholder="Enter username.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.stackoverflow" title="Stack Overflow" placeholder="Enter user ID.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.youtube" title="YouTube" placeholder="Enter channel ID.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <custom-input v-model="data.reddit" title="Reddit" placeholder="Enter username.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <custom-input v-model="data.website" title="Website" placeholder="Enter URL.."></custom-input>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <h4>Others</h4>
                        </div>
                        <div class="col-xs-12 col-md-12" v-for="item in data.items">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label>Icon</label>
                                        <select v-model="item.icon" class="form-control">
                                            <option v-for="icon in icons" :value="icon.title">{{icon.title}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <custom-input v-model="item.value" title="Link" placeholder="Enter URL.."></custom-input>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <button @click="addItem" class="btn btn-primary">Add more</button>
                        </div>
                    </div>
                </div>

                <div v-if="tab == 'stats'" class="tab">
                    <h3>Statistics</h3>

                    <p>GitHub username required.</p>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" id="defaultCheck1" type="checkbox" v-model="data.views">
                                <label class="form-check-label" for="defaultCheck1">
                                    Show profile views
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" v-model="data.stats" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    Show GitHub statistics
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" v-model="data.languages" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    Show most used languages
                                </label>
                            </div>
                        </div>
                    </div>

                    <h3 class="mt-3">Github Trophies</h3>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" v-model="data.trophy" value="" id="defaultCheck4">
                                <label class="form-check-label" for="defaultCheck4">
                                    Show Trophies
                                </label>
                            </div>
                        </div>
                    </div>

                    <h3 class="mt-3">Github Badges</h3>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" id="defaultCheck11" type="checkbox" v-model="data.arctic">
                                <label class="form-check-label" for="defaultCheck11">
                                    Arctic Contributor
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" v-model="data.devprog" value="" id="defaultCheck22">
                                <label class="form-check-label" for="defaultCheck22">
                                    Developer Program
                                </label>
                            </div>
                        </div>
			<div class="col-xs-12 col-md-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" id="defaultCheck33" type="checkbox" v-model="data.star">
                                <label class="form-check-label" for="defaultCheck33">
                                    Stars Program
                                </label>
                            </div>
                        </div>
			<div class="col-xs-12 col-md-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" id="defaultCheck44" type="checkbox" v-model="data.sponsor">
                                <label class="form-check-label" for="defaultCheck44">
                                    Sponsor
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" v-model="data.gitpro" value="" id="defaultCheck55">
                                <label class="form-check-label" for="defaultCheck55">
                                    Github Pro
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

            </app-content>

            <app-sidebar class="col-xs-12 col-md-6">

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Preview</h5>
                        <vue-markdown v-bind:source="source"></vue-markdown>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Code</h5>

                        <div class="alert alert-danger" role="alert" v-if="forced">
                            Changing source manually could result in lost of data if you use generation fields again.
                        </div>

                        <textarea v-model="source" @keyup="onKeyUp" class="form-control">{{source}}</textarea>
                    </div>
                </div>

            </app-sidebar>

        </app-view>

    </div>

    <footer>
        <div class="container">
            <p>Made with ❤ by <a href="https://github.com/arturssmirnovs" target="_blank">@arturssmirnovs</a>.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/icons.js"></script>
    <script src="js/markdown.js"></script>
    <script src="js/script.js"></script>

</body>
</html>


